﻿@{
    ViewData["Title"] = "Home Page";
}

<section id="Postmortem" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Wat is Postmortem</h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Postmortem is een kerk,<br> bekeer tot ons csgo geloof en speel lekker met ons mee elke avond.</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="lnr lnr-users"></i>
                    </div>
                    <h4>Inhouse scrims</h4>
                    <p>Binnen in Postmortem is veel gelegenheid om met alles spelers in-house scrims te doen op Popflash.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
                    <div class="icon">
                        <i class="lnr lnr-rocket"></i>
                    </div>
                    <h4>Serieuze Teams</h4>
                    <p>Binnen Postmortem zijn er serieuze toegewijde speler die in teams toernooien proberen te winnen.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="lnr lnr-earth"></i>
                    </div>
                    <h4>Veel actieve leden</h4>
                    <p>Elke avond is er bij Postmortem veel leden die samen Faceit/ESEA en matchmaking spelen op hoog niveau.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Section Start -->
<div id="Rebirth" class="section pricing-section">
    <div class="container-fluid">
        <div class="section-header">
            <h2 class="section-title">Team Rebirth</h2>
            <hr class="lines">
            <p class="section-subtitle"></p>
        </div>

        <div class="row pricing-tables">
            <div class="col-sm">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Duranor</h2>
                        <img src="~/images/cropped-blank-image.png" />
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>BlaideN</h2>
                        <img src="~/images/cropped-blank-image.png" />
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Donavan</h2>
                        <img src="~/images/cropped-blank-image.png" />
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Yo Vida</h2>
                        <img src="~/images/cropped-blank-image.png" />
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>BluEagle</h2>
                        <img src="~/images/cropped-blank-image.png" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="Vuby" class="section pricing-section">
    <div class="container-fluid">
        <div class="section-header">
            <h2 class="section-title">Team Vuby</h2>
            <hr class="lines">
            <p class="section-subtitle"></p>
        </div>

        <div class="row pricing-tables">
            <div class="col-sm">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Duke</h2>
                        <img src="~/images/cropped-blank-image.png" />
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Chucky</h2>
                        <img src="~/images/cropped-blank-image.png" />
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Noji</h2>
                        <img src="~/images/cropped-blank-image.png" />
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Nicksonius</h2>
                        <img src="~/images/cropped-blank-image.png" />
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Rex</h2>
                        <img src="~/images/cropped-blank-image.png" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>